* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@font-face {
  font-family: "Bebas Neue Book";
  src: url("../fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 90rem;
  margin: 0 15rem 0 15rem;
}

.button {
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #fff;
  background: #3a71d1;
  padding: 1.5625rem 3.75rem;
  border: none;
  display: inline-block;
  cursor: pointer;
}

.logo-svg {
  width: 9rem;
  height: 2.75rem;
  /* border: 3px solid yellow; */
}

.navbar {
  display: flex;
  align-items: center;
  color: #fff;
  height: 5.875rem;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.2s, height 0.2s;
}

.navbar-button {
  flex-shrink: 0;
  height: 100%;
  letter-spacing: 0.3px;
  padding: 1.5625rem 2.1875rem 1.5625rem 3.125rem;
}

.navbar-light {
  background-color: #fff;
  color: #292D33;
  height: 4.625rem;
}

.navbar-light .header-logo-path {
  fill: #292D33;
}

.phone-icon {
  width: 1rem;
  height: 1.0625rem;
}

.header {
  padding-top: 5.875rem;
  height: 60.625rem;
}

.header-image {
  background-image: url("../img/header_bg.png");
  background-repeat: no-repeat;
  background-position: left top;
  position: relative;
  background-size: cover;
  height: 60.625rem;
}

.header-image::after {
  content: "";
  position: absolute;
  background: rgba(41, 45, 51, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 60.625rem;
  z-index: 0;
}

.header-nav {
  display: flex;
  flex-basis: 100%;
  list-style: none;
  padding: 0;
  padding-left: 2.4%;
  margin: 0;
}

.header-nav-item {
  margin: 0;
  margin-right: 4.7%;
  word-spacing: 1px;
}

.header-logo {
  display: flex;
  align-items: center;
  padding: 0px 3.125rem;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}

.header-nav-link {
  text-decoration: none;
  font-size: 1rem;
  line-height: 160%;
  color: inherit;
}

.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 3.125rem;
}

.header-phone-link {
  text-decoration: none;
  color: inherit;
  padding-left: .3125rem;
}

.header-button {
  height: 100%;
  padding-right: 3.9375rem;
}

.header-content {
  padding-top: 9.375rem;
  position: relative;
  z-index: 1;
  color: #fff;
}

.header-title {
  max-width: 67.5rem;
  font-family: "Bebas Neue Book";
  font-weight: 400;
  font-size: 5rem;
  line-height: 120%;
  margin: 1.375rem 0 2.5rem 0;
  letter-spacing: 0.65px;
}

.header-text {
  max-width: 45rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin-bottom: 3.125rem;
  letter-spacing: 0.15px;
}

.header-features {
  display: flex;
  min-height: 10.5rem;
  width: 100%;
  padding: 0;
  margin-top: 6.25rem;
  list-style: none;
  color: #fff;
  position: relative;
  z-index: 1;
}

.header-features-item {
  width: 20%;
  padding: 2.125rem 3.125rem 1.875rem 3.125rem;
  border: 1px solid rgba(235, 235, 240, 0.2)
}

.header-feature-text {
  padding-top: .25rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
}

.header-features-svg {
  width: 28px;
  height: 28px;
}

.header-features-item:not(:last-child) {
  border-right: none;
}

.separator {
  background: #5c8ee6;
  width: 9.375rem;
  height: 2px;
}

.section {
  margin-top: 9.375rem;
  margin-bottom: 9.375rem;
}

.section-title {
  margin: 1.625rem 0 3.25rem 0;
  font-family: "Bebas Neue Book";
  font-size: 3.75rem;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #292D33;
}

.section-light-scheme {
  margin-top: 9.3rem;
}

.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1.875rem;
}

.steps-item {
  /* max-width: 20.625rem; */
  width: 25%;
}

.steps-num {
  font-family: "Bebas Neue Book";
  font-size: 3rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 1px;
  color: #5C8EE5;
  display: flex;
  align-items: center;
}

.steps-num::after {
  content: '';
  height: 1px;
  background: #EBEBF0;
  width: 100%;
  margin-left: 1.875rem;
}

.steps-title {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 160%;
  color: #292D33;
  margin-top: 2.1875rem;
  margin-bottom: .625rem;
}

.steps-text {
  font-size: 1rem;
  line-height: 160%;
  letter-spacing: 0.1px;
  color: #828A99;
  margin-top: .625rem;
  margin-bottom: 1.25rem;
}

.steps-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #5C8EE5;
  margin-top: 1.375rem;
  letter-spacing: 0.2px;
}

.steps-link::before {
  content: '';
  height: 1px;
  background: #5C8EE5;
  width: 2.5rem;
  margin-right: 1.25rem;
}

@media (max-width: 1815px) {
  html {
    font-size: 15px;
  }

  .header-features-item {
    padding: 2.125rem 2.5rem 1.875rem 2.5rem;
  }
}

@media (max-width: 1630px) {
  html {
    font-size: 14px;
  }

  .header-nav-item {
    margin-right: 2.92%;
  }

  .header-features-item {
    padding: 2.125rem 2.3rem 1.875rem 2.3rem;
  }
}

@media (max-width: 1450px) {
  html {
    font-size: 13px;
  }

  .header-nav-item {
    margin-right: 1.1%;
  }

  .header-features-item {
    padding: 2.125rem 1.6rem 1.875rem 1.6rem;
  }
}

@media (max-width: 1250px) {
  html {
    font-size: 12px;
  }

  .header-features-item {
    padding: 2.125rem 1.5rem 1.875rem 1.5rem;
  }
}

@media (max-width: 1140px) {
  html {
    font-size: 11px;
  }

  .header-features-item {
    padding: 2.125rem 1.5rem 1.875rem 1.5rem;
  }

}

@media (max-width: 1050px) {
  html {
    font-size: 10px;
  }

  .header-features-item {
    padding: 2.125rem 1.5rem 1.875rem 1.5rem;
  }
}