* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@font-face {
  font-family: "Bebas Neue Book";
  src: url("../fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}

.mobile-menu {
  display: none;
}

.container {
  max-width: 90rem;
  margin: auto;
}

.button {
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #fff;
  background: #3a71d1;
  padding: 1.5625rem 3.75rem;
  border: none;
  display: inline-block;
  cursor: pointer;
}

.logo {
  display: none;
}

.logo-svg {
  width: 9rem;
  height: 2.75rem;
}

.navbar {
  display: flex;
  align-items: center;
  color: #fff;
  height: 5.875rem;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.2s, height 0.2s;
}

.navbar-button {
  flex-shrink: 0;
  height: 100%;
  letter-spacing: 0.3px;
  padding: 1.5625rem 2.1875rem 1.5625rem 3.125rem;
}

.navbar-button .button-icon {
  display: none;
}

.navbar-light {
  background-color: #fff;
  color: #292D33;
  height: 4.625rem;
}

.navbar-light .header-logo-path {
  fill: #292D33;
}

.phone-icon {
  width: 1rem;
  height: 1.0625rem;
  fill: #5c8ee6;
}

.header {
  padding-top: 5.875rem;
}

.header-image {
  background-image: url("../img/header_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;
}

.header-image::before {
  content: "";
  position: absolute;
  background: rgba(41, 45, 51, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.header-nav {
  display: flex;
  align-items: center;
  height: 100%;
  flex-basis: 100%;
  list-style: none;
  padding: 0;
  padding-left: 2.4%;
  margin: 0;
}

.header-nav-item {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: 4.7%;
  word-spacing: 1px;
}

.header-logo {
  display: flex;
  align-items: center;
  padding: 0px 3.125rem;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}

.header-nav-link {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  font-size: 1rem;
  line-height: 160%;
  color: inherit;
  position: relative;
}

.header-nav-link:after {
  content: '';
  width: 0px;
  height: 2px;
  position: absolute;
  bottom: -1px;
  background-color: #5c8ee6;
  transition: width 0.2s;
  left: auto;
  right: 0;
}

.header-nav-link:hover:after {
  width: 100%;
  right: auto;
  left: 0;
}

.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 3.125rem;
}

.header-phone-link {
  text-decoration: none;
  color: inherit;
  padding-left: .3125rem;
}

.header-button {
  height: 100%;
  padding-right: 3.9375rem;
}

.header-content {
  padding-top: 9.375rem;
  position: relative;
  z-index: 1;
  color: #fff;
}

.header-title {
  max-width: 67.5rem;
  font-family: "Bebas Neue Book";
  font-weight: 400;
  font-size: 5rem;
  line-height: 120%;
  margin: 1.375rem 0 2.5rem 0;
  letter-spacing: 0.65px;
}

.header-text {
  max-width: 45rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin-bottom: 3.125rem;
  letter-spacing: 0.15px;
}

.header-features {
  display: flex;
  min-height: 10.5rem;
  width: 100%;
  padding: 0;
  margin-top: 6.25rem;
  list-style: none;
  color: #fff;
  position: relative;
  z-index: 1;
}

.header-features-item {
  /* width: 20%; */
  width: 18rem;
  padding: 2.125rem 3.125rem 1.875rem 3.125rem;
  min-height: 100%;
  border: 1px solid rgba(235, 235, 240, 0.2)
}

.header-feature-text {
  padding-top: .25rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
}

.header-features-svg {
  width: 28px;
  height: 28px;
}

.slider-buttons {
  display: none;
  height: 44px;
}

.swiper-steps-buttons {
  display: none;
}

.slider-button-prev,
.slider-button-next {
  height: 100%;
  flex-basis: 50%;
  border: 1px solid rgba(235, 235, 240, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.swiper-steps-button-prev,
.swiper-steps-button-next {
  width: 60px;
  height: 40px;
  background: #5C8EE5;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.arrow-slider-svg {
  width: 36px;
  height: 24px;
}

.separator {
  background: #5c8ee6;
  width: 9.375rem;
  height: 2px;
}

.section {
  margin-top: 9.375rem;
  margin-bottom: 9.375rem;
}

.section-title {
  margin: 1.625rem 0 3.25rem 0;
  font-family: "Bebas Neue Book";
  font-size: 3.75rem;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #292D33;
}

.section-light-scheme {
  margin-top: 9.3rem;
}

.steps {
  display: flex;
  min-height: 16.6875rem;
  list-style: none;
  padding: 0;
  width: 100%;
}

.steps-item {
  width: 25%;
  min-height: 100%;
  padding-left: 1.875rem;
}

.steps-num {
  font-family: "Bebas Neue Book";
  font-size: 3rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 1px;
  color: #5C8EE5;
  display: flex;
  align-items: center;
}

.steps-num::after {
  content: '';
  height: 1px;
  background: #EBEBF0;
  width: 100%;
  margin-left: 1.875rem;
}

.steps-title {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 160%;
  color: #292D33;
  margin-top: 2.1875rem;
  margin-bottom: .625rem;
}

.steps-text {
  font-size: 1rem;
  line-height: 160%;
  letter-spacing: 0.1px;
  color: #828A99;
  margin-top: .625rem;
  margin-bottom: 1.25rem;
}

.steps-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #5C8EE5;
  margin-top: 1.375rem;
  letter-spacing: 0.2px;
}

.steps-link::before {
  content: '';
  height: 1px;
  background: #5C8EE5;
  width: 2.5rem;
  margin-right: 1.25rem;
  margin-right: 1rem;
  transition: width 0.2s;
}

.steps-link:hover::before {
  width: 3.75rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  text-decoration: none;
  flex-basis: 33%;
  border: 1px solid #ebebf0;
  position: relative;
  transition: border 0.2s;
  cursor: pointer;
}

.card:hover .card-title {
  color: #5c8ee6;
}

.card:hover {
  border-color: #5c8ee6;
}

.card-content {
  padding: 2.5rem 3.125rem;
}

.card-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 140%;
  color: #292d33;
  margin-top: 0;
  margin-bottom: .625rem;
  transition: color 0.2s;
}

.card-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-bottom: 394px;
}

.card-image {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 90%;
}

@media (max-width: 1815px) {
  html {
    font-size: 15px;
  }

  .header-features-item {
    padding: 2.125rem 2.5rem 1.875rem 2.5rem;
  }
}

@media (max-width: 1700px) {
  html {
    font-size: 14px;
  }

  .header-nav-item {
    margin-right: 2.92%;
  }

  .header-features-item {
    padding: 2.125rem 2.3rem 1.875rem 2.3rem;
  }
}

@media (max-width: 1460px) {
  html {
    font-size: 13px;
  }

  .container {
    max-width: 80rem;
  }

  .header-logo {
    padding: 0px 2rem;
  }

  .header-nav-item {
    margin-right: 1.1%;
  }

  .header-features-item {
    padding: 2.125rem 1.6rem 1.875rem 1.6rem;
  }

  .logo-svg {
    width: 6rem;
  }

  .header-phone {
    margin-right: 2rem;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 70rem;
  }

  .header-phone {
    display: none;
  }

  .navbar {
    height: 5rem;
  }

  .navbar-button {
    padding: 0 2rem;
  }

  .slider-buttons {
    display: flex;
  }

  .swiper-steps-buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .steps-item {
    width: 33%;
  }

  .card {
    flex-basis: 50%;
  }

}

@media (max-width: 992px) {
  html {
    font-size: 12px;
  }

  .container {
    max-width: 60rem;
  }

  .header-nav {
    display: none;
  }

  .logo-svg {
    width: 9rem;
    height: 2.75rem;
  }

  .header-logo {
    flex-grow: 1;
    justify-content: center;
  }

  .mobile-menu-toggle {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.8rem;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
  }

  .navbar-light .mobile-menu-line {
    background-color: #333;
  }

  .mobile-menu-line {
    height: 1px;
    background-color: #fff;
    width: 100%;
    transition: transform 0.2s;
  }

  .mobile-menu-line:nth-child(2) {
    width: 80%;
  }

  .navbar-button .button-text {
    display: none;
  }

  .navbar-button .button-icon {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    fill: #fff;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 2;
    background-color: #fff;
    padding-top: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .mobile-menu.isOpen {
    display: block;
  }

  .mobile-menu-nav {
    list-style-type: none;
    padding: 0;
  }

  .mobile-menu-nav-item {
    margin-bottom: 2rem;
  }

  .mobile-menu-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: #292D33;
  }

  .mobile-submenu {
    list-style-type: none;
    padding: 0;
    padding-left: 1rem;
    margin-top: 1rem;
  }

  .mobile-submenu-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #828A99;
  }

  .mobile-phone {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    text-decoration: underline;
    color: #292d33;
    border-top: 1px solid #ebebf0;
    padding-top: 2rem;
    margin-bottom: 1.5rem;
  }

  .mobile-info {
    height: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .mobile-info-adress,
  .mobile-info-email {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #292d33;
  }

  .closeMenu .mobile-menu-line:nth-child(2) {
    display: none;
  }

  .closeMenu .mobile-menu-line:nth-child(1) {
    transform: rotate(45deg) translateY(10px);
  }

  .closeMenu .mobile-menu-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-10px);
  }

  .mobile-menu-socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 3.9375rem;
    height: 1.5rem;
    gap: .9375rem;
    margin-bottom: .9375rem;
  }

  .mobile-info-icon {
    width: 1rem;
    height: 1.0625rem;
  }

  .mobile-socials-link,
  .socials-icon {
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 40rem;
  }

  .header-title {
    font-size: 4rem;
  }

  .header-content {
    padding-top: 3rem;
  }

  .card {
    flex-basis: 100%;
  }
}

@media (max-width: 576px) {
  .navbar {
    width: 100%;
  }

  .container {
    max-width: 90%;
  }

  .header-title {
    font-size: 2rem;
  }

  .header-content {
    padding-top: 2rem;
  }
}