* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Bebas Neue Book";
  src: url("../fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1440px;
  margin: 0 240px 0 240px;
}

.button {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #fff;
  background: #3a71d1;
  padding: 25px 60px;
  border: none;
  display: inline-block;
  cursor: pointer;
}

.navbar {
  display: flex;
  align-items: center;
  color: #fff;
  height: 94px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.2s, height 0.2s;
}

.navbar-button {
  flex-shrink: 0;
  height: 100%;
  letter-spacing: 0.3px;
  padding: 25px 35px 25px 50px;
}

.navbar-light {
  background-color: #fff;
  color: #292D33;
  height: 74px;
}

.navbar-light .header-logo-path {
  fill: #292D33;
}

.header {
  padding-top: 94px;
  min-height: 100vh;
}

.header-image {
  background-image: url("../img/header_bg.png");
  background-repeat: no-repeat;
  background-position: left top;
  position: relative;
}

.header-image::after {
  content: "";
  position: absolute;
  background: rgba(41, 45, 51, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 970px;
  z-index: 0;
}

.header-nav {
  display: flex;
  flex-basis: 100%;
  list-style: none;
  padding: 0 50px;
  margin: 0;
}

.header-nav-item {
  margin: 0 2px 0 0;
  word-spacing: 1px;
}

.header-logo {
  display: flex;
  align-items: center;
  padding: 0px 50px;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}

.header-nav-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 160%;
  margin-right: 50px;
  color: inherit;
}

.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 50px;
}

.header-phone-link {
  text-decoration: none;
  color: inherit;
  padding-left: 5px;
}

.header-button {
  height: 100%;
  padding-right: 63px;
}

.header-content {
  padding-top: 150px;
  position: relative;
  z-index: 1;
  color: #fff;
}

.header-title {
  max-width: 1080px;
  font-family: "Bebas Neue Book";
  font-weight: 400;
  font-size: 80px;
  line-height: 120%;
  margin: 22px 0 40px 0;
  letter-spacing: 0.65px;
}

.header-text {
  max-width: 720px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 50px;
  letter-spacing: 0.15px;
}

.header-features {
  display: flex;
  min-height: 168px;
  width: 1440px;
  padding: 0;
  margin-top: 100px;
  list-style: none;
  color: #fff;
  position: relative;
  z-index: 1;
}

.header-features-item {
  width: 288px;
  padding: 34px 50px 30px 50px;
  border: 1px solid rgba(235, 235, 240, 0.2)
}

.header-feature-text {
  padding-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.header-features-item:not(:last-child) {
  border-right: none;
}

.separator {
  background: #5c8ee6;
  width: 150px;
  height: 2px;
}

.section {
  margin-top: 150px;
  margin-bottom: 150px;
}

.section-title {
  margin: 26px 0 52px 0;
  font-family: "Bebas Neue Book";
  font-size: 60px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #292D33;
}

.section-light-scheme {
  margin-top: 45px;
}

.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 30px;
}

.steps-item {
  max-width: 330px;
}

.steps-num {
  font-family: "Bebas Neue Book";
  font-size: 48px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 1px;
  color: #5C8EE5;
  display: flex;
  align-items: center;
}

.steps-num::after {
  content: '';
  height: 1px;
  background: #EBEBF0;
  width: 100%;
  margin-left: 30px;
}

.steps-title {
  font-size: 28px;
  font-weight: 400;
  line-height: 160%;
  color: #292D33;
  margin-top: 35px;
  margin-bottom: 10px;
}

.steps-text {
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.1px;
  color: #828A99;
  margin-top: 10px;
  margin-bottom: 20px;
}

.steps-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #5C8EE5;
  margin-top: 22px;
  letter-spacing: 0.2px;
}

.steps-link::before {
  content: '';
  height: 1px;
  background: #5C8EE5;
  width: 40px;
  margin-right: 20px;
}